form{
	text-align: center;
	background: white;
	border-radius: 1em;
	padding: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.nome{

}

.email{

}

.usuario{

}

.senha{

}

.cadastrar{

}

.clique{

}

h2{

}